/*---------MAIN----------------*/
.container {
  background-color: #f5f4eb;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
  width: 90%;
  z-index: 1;
}

#posted-tweet {
  border: solid grey 3px;
  display: flex;
  flex-direction: column;
  margin: 30px 0;
  padding: 10px;
  border-radius: 5px;
}
#posted-tweet:hover {
  box-shadow: 5px 10px #888888; 
  transition: 1s;  
}

/* ------ HEADER -------*/

.post-header {
  display: flex;
  justify-content: space-between;
  background-color: #f5f4eb;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
}
label {
  margin: 0;
  width: 100%;
}
.post-icon {
  display: flex;
}

.name {
  margin-left: 15px;
}

.nickname {
  color: grey;
}

/*-------------TWEET COMPOSITION----------*/
.tweet-input-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.error-message {
  background-color: #ff0000;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  color: white;
  border: solid 3px black;
  border-radius: 5px;
  padding: 7px;
  font-weight: bold;
  text-align: center;
  visibility: hidden;
}
.input-tweet-article {
  width: 100%;
  border-style: none;
  border-bottom: outset;
  background-color: #f5f4eb;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
}

/*-------------------FOOTER---------------------*/
footer {
  display: flex;
  justify-content: space-between;

}
.btn {
  color: #FFFFFF;
  background-color: #4056A1;
  padding: 10px;
  border-radius: 3px;
  border-style: none;
}
.days-on-site {
  font-size: 20px;
  font-weight: bold;
}











.post-reactions {
  margin: 24px 0 24px 24px;
}

.icon {
  color: #4056A1;
  margin: 0 10px;
}
.icon:hover {
  color: #ECB365;
}
.new-tweet {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  padding: 10px;
}


.post-header {
  margin: 15px 0 ;
}

.submit-count {
  font-family: 'Bungee', cursive;
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
}

