/*---------MAIN----------------*/
.container-for-tweets {
  background-color: #f5f4eb;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
  width: 90%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#posted-tweet {
  border: solid grey 3px;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  margin-left: 50px;
  width: 90%;
}
#posted-tweet:hover {
  box-shadow: 5px 10px #888888;
  transition: 1s;
}

/* ------ HEADER -------*/

.post-header {
  display: flex;
  justify-content: space-between;
  background-color: #f5f4eb;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
  margin: 15px 0;
}
label {
  margin: 0;
  width: 100%;
}
.post-icon {
  display: flex;
}

.name {
  margin-left: 15px;
}

.nickname {
  color: grey;
}

/*-------------TWEET COMPOSITION----------*/
.new-tweet {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  padding: 10px;
  width: 90%;
}
.tweet-input-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.error-message {
  background-color: #ff0000;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  color: white;
  border: solid 3px black;
  border-radius: 5px;
  padding: 7px;
  font-weight: bold;
  text-align: center;
  visibility: hidden;
}

#tweet-text {
  max-width: 800px;
  border-style: none;
  border-bottom: outset;
  background-color: #f5f4eb;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
  overflow-wrap: break-word;
}
/*-------------------FOOTER---------------------*/
footer {
  display: flex;
  justify-content: space-between;
}
.btn {
  color: #ffffff;
  background-color: #4056a1;
  padding: 10px;
  border-radius: 3px;
  border-style: none;
}
.days-on-site {
  font-size: 20px;
  font-weight: bold;
}
.post-reactions {
  margin: 24px 0 24px 24px;
}
.icon {
  color: #4056a1;
  margin: 0 10px;
}
.icon:hover {
  color: #ecb365;
}
.submit-count {
  font-family: "Bungee", cursive;
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
}
